// .header ul,
// .footer ul {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }

// .header ul li,
// .footer ul li {
//   display: inline-block;
// }

// .header ul li {
//   background-color: limegreen;
// }

// .footer ul li {
//   background-color: salmon;
// }

// Mixin
// Simple Mixin
@mixin inline-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }
}

.header ul {
  @include inline-list();
  li {
    background-color: limegreen;
    padding: 0.7em;

    a {
      color: white;
    }
  }
}

.footer {
  margin-top: 20px;
}

.footer ul {
  @include inline-list();
  li {
    padding: 0.4em;
    background-color: salmon;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

// Arguments pada Mixin
@mixin flex-box($direction: row, $space: center) {
  display: flex;
  justify-content: $space;
  align-items: center;
  flex-direction: $direction;
}

.container {
  @include flex-box(row-reverse, space-evenly);
  width: 600px;
  height: 400px;
  background-color: #eaeaea;

  .box {
    width: 60px;
    height: 60px;
    background-color: #bada55;
    text-align: center;
    line-height: 60px;
  }
}
